* {
  padding: 0;
  margin: 0;
  font-family: monospace, Arial;
}
:root {
  --background: white;
  --text: black;
}

body{
  background-color: var(--background);
  color:var(--text);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: black;
    --text: white;
  }
  a{
    color:aqua;
  }
}
