* {
  padding: 0;
  margin: 0;
  font-family: monospace, Arial;
}
:root {
  --background: white;
  --text: black;
}

body{
  background-color: var(--background);
  color:var(--text);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: black;
    --text: white;
  }
  a{
    color:aqua;
  }
}

h1 {
  font-size:77px;
}
h2 {
  font-size:63px;
}
h3 {
  font-size:47px;
}
h4 {
  font-siw:37px;
}
h5 {
  font-size:30px;
}
h6, p {
  font-size:24px;
}
