* {
  margin: 0;
  padding: 0;
}

:root {
  --article-back: #eee;
  --article-text: #000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --article-back: #111;
    --article-text: #fff;
  }

  a {
    color: aqua;
  }
}

body {
  background-color: var(--article-back);
}

#article-title {
  margin-left: 10vw;
  width: 50%;
  height: auto;
  text-wrap: wrap;
  color: var(--article-text);
}

#article-content {
  margin-top: 5vh;
  margin-left: 10vw;
  margin-bottom: 5vh;
  padding: 2%;
  width: 50%;
  height: max(auto, 80vh);
  color: var(--article-text);
  background-color: color-mix(in srgb, var(--article-back), #888 20%);
  overflow: hidden;
  overflow-wrap: break-word;
}

#article-index {
  position: sticky;
  width: 30%;
  height: 70vh;
  bottom: 15vh;
  left: 65%;
  overflow: scroll;
  color: var(--article-text);
  background-color: color-mix(in srgb, color-mix(in srgb, var(--article-back), transparent 50%), #888 10%);
}

#other-articles {
  margin-top: -70vh;
  margin-left: 10vw;
  margin-bottom: 80vh;
  width: calc(50vw + 2 * 2vw);
  height: 50vh;
  background-color: color-mix(in srgb, var(--article-back), #888 20%);
}

@media (max-aspect-ratio: 1) {
  #article-index {
    visibility: hidden;
  }

  #article-title {
    margin-left: 5vw;
    width: 90%;
  }

  #article-content {
    margin-left: 5vw;
    width: 90%;
  }

  #other-articles {
    margin-left: 5vw;
    width: 94%;
  }
}

pre {
  position: relative;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow: auto;
  background-color: color-mix(in srgb, color-mix(in srgb, var(--article-back), transparent 50%), #888 30%);
  color: var(--article-text);
  padding: 10px;
  border-radius: 4px;
  font-size: 15px;
}