* {
  margin: 0;
  padding: 0;
}

:root {
  --article-back: #eee;
  --article-text: #000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --article-back: #111;
    --article-text: #fff;
  }

  a {
    color: aqua;
  }
}

body {
  background-color: var(--article-back);
}

#article-title {
  margin-left: 10vw;
  margin-top: 15vh;
  color: var(--article-text);
}

#article-content {
  margin-top: 5vh;
  margin-left: 10vw;
  margin-bottom:5vh;
  
  width: 50%;
  height: auto;
  color: var(--article-text);
  background-color: color-mix(in srgb, var(--article-back), #888 20%);
  overflow: hidden;
  overflow-wrap: break-word;
}

#article-index {
  position: fixed;
  width: 30%;
  height: 80%;
  left: 65%;
  overflow: scroll;
  color: var(--article-text);
  background-color: color-mix(in srgb, color-mix(in srgb, var(--article-back), transparent 50%), #888 10%);
}