* {
  margin: 0;
  padding: 0;
}

:root {
  --article-back: #eee;
  --article-text: #000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --article-back: #111;
    --article-text: #fff;
  }

  a {
    color: aqua;
  }
}

body {
  background-color: var(--article-back);
}

#article-title {
  margin-left: 10vw;
  width: 50%;
  height: auto;
  text-wrap: wrap;
  color: var(--article-text);
}

#article-content {
  margin-top: 5vh;
  margin-left: 10vw;
  margin-right: 10vw;
  margin-bottom: 5vh;
  padding: 2%;
  width: 50%;
  height: max(auto, 80vh);
  color: var(--article-text);
  background-color: color-mix(in srgb, var(--article-back), #888 20%);
  overflow: hidden;
  overflow-wrap: break-word;
}

#article-content * { 
  line-height: 2.5em;
}

#article-index {
  line-height: 2.5em;
  position: sticky;
  width: 30%;
  height: 70vh;
  bottom: 15vh;
  left: 65%;
  overflow-y: scroll;
  overflow-x:hidden;
  color: var(--article-text);
  background-color: color-mix(in srgb, color-mix(in srgb, var(--article-back), transparent 50%), #888 10%);
}

#other-articles {
  margin-top: -70vh;
  margin-left: 10vw;
  margin-bottom: 10vh;
  width: calc(50vw + 2 * 2vw);
  aspect-ratio: 8/9;
  background-color: color-mix(in srgb, var(--article-back), transparent 80%);
}

#other-articles h1 {
  text-align: center;
  color:var(--article-text);
  font-size: 6vw;
}

.blog-button {
  box-sizing: border-box;
  margin: 2%;
  border: 1px solid var(--article-text);
  border-radius: 2.5%;
  overflow: hidden;
  position: relative;
  background-color: #ffffff55;

  @media (prefers-color-scheme: dark) {
    background-color: #00000055;
  }

  width:46%;
  aspect-ratio: 4/3;
}

.blog-button img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80%;
  object-fit: cover;
}

.loading-infinity {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80%;
  object-fit: contain;
}

.blog-button div {
  position: absolute;
  width: 100%;
  height: 20%;
  bottom: 0;
  color: var(--text);
  font-size: max(auto, 12px);
}

@media (max-aspect-ratio: 1) {
  #article-index {
    visibility: hidden;
  }

  #article-title {
    margin-left: 2.5vw;
    width: 90%;
  }

  #article-content {
    margin-left: 2.5vw;
    width: 90%;
  }

  #other-articles {
    margin-left: 2.5vw;
    width: 94%;
  }
  #other-articles h1{
    font-size: 14vw;
  }
}

pre {
  position: relative;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow: auto;
  font-family: monospace;
  background-color: color-mix(in srgb, color-mix(in srgb, var(--article-back), transparent 50%), #888 30%);
  color: var(--article-text);
  padding: 10px;
  border-radius: 4px;
  font-size: 15px;
}
pre * {
  line-height: 1.2rem;
}
